@import "header";
@import "section";
@import "nav";
@import "aside";
@import "main";
@import "article";
@import "banner";
@import "footer";
@import "variables";




/*MAPSSSSSSSSSSSSSSSSSSS*/

@each $red,
$color in $redes {
    .btn--#{$red} {
        background-color: $color;
        width: 100%;
        margin-bottom: 1rem;

    }
}

.boton {
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
}

/*Extend*/

.test--extend {
    @extend .boton;
    background-color: green;
    color: yellow;
    margin-bottom: 1rem;
}

/*Mixind*/

@mixin customStyles($width, $bg) {
    background-color: $bg;
    width: $width;
}

.test-mixing {
    @include customStyles(100%, blue);
}


/*TAMAÑO CELULAR*/
body {
    display: grid;
    grid-template-columns: 1fr;
    background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
    background-image: url(../img/imagenBody.png);
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
    }
}

/*Logos de pagina*/

header {

    padding: 1rem;
    border: 3rem;
    background-color: #74ebd5c9;
    background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);


    img {
        width: 10rem;
        height: 5rem;

    }
}

nav {
    opacity: 85%;
    display: flex;
    font-family: 'Tomorrow', sans-serif;

}

aside {

    opacity: 90%;

    .contenedor {
        background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 15rem;


        font-family: 'Tomorrow', sans-serif;

    }

    .textosAside {

        padding: 1rem;
        height: 0.5rem;
        align-items: center;
        justify-content: center;
        width: 100%;


        .textoPadel {

            font-size: 1rem;
            color: white;
            text-align: center;
            text-decoration: bold;
        }

        .textoPadel2 {
            font-size: 1.5rem;
            text-align: center;
            color: white;

            a {
                display: inline-flex;

            }


        }

        .textoPadel3 {
            font-size: 1.25rem;
            text-align: center;
            color: white;
            text-decoration: underline;
        }


    }
}

main {



    font-family: 'Tomorrow', sans-serif;
    opacity: 90%;


    /* zoooooooooooooommm a las imagens de accesorios
    
    FALTAN RE DIRECCIONAR LINKSSSS*/
    .image-box {


        overflow:visible;
        


        img {
            max-width: 100%;
            transition: all 0.4s;
            display: flex;
            flex-direction: row;
            width: 50%;
            height: auto;
            transform: scale(1);
            

            &:hover {
                transform: scale(1.2);

            }
        }

        .nombreAccesorio {
            margin: 1.5rem;
          

        }
        table{
            padding: 0.5rem;
            &:hover {
                transform: scale(1.2);

            }
        }


        

    }



    .containetMain {

        display: flex;
        justify-content: space-evenly;

        background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
        background-attachment: fixed;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

        img {
            width: 3rem;
            display: flex;


        }
    }

    .contenedorPaletas {
        opacity: 95%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        td {
            text-align: center;
            justify-content: center;
            width: 50%;
            height: fit-content;

        }

        img {

            width: 10rem;
            height: 10rem;
            align-items: center;
            opacity: 100%;

        }

        .nombrePaleta {
            text-align: center;
            font-size: larger;
            font-style: bold;

        }

        .precio {
            text-align: center;
            font-style: bold;


        }

    }

    .contenedorPaletasindividuales {
        opacity: 85%;
        background-color: white;
        display: inline-block;


        td {
            text-align: center;
            justify-content: center;
            width: 50%;
            height: fit-content;

        }

        img {
            opacity: 100%;
            width: 100%;
            height: 100%;
            align-items: center;

        }

        .nombrePaleta {
            text-align: center;
            font-size: larger;
            font-style: bold;

        }

        .precio {
            text-align: center;
            font-style: bold;

        }

    }

    section {

        opacity: 90%;
        display: block;
        margin-top: 0%;
        margin-bottom: 0%;


        .table {
            text-align: center;
            margin-bottom: 0%;
            padding-bottom: 0%;


        }

        p {
            color: white;
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 0%;
            padding-bottom: 0%;
            background-color: rgba(0, 0, 0, 0.741);


        }

    }



}

article {

    opacity: 90%;


    p {
        text-align: center;
        color: rgb(7, 7, 102);
        display: block;
        font-family: 'Tomorrow', sans-serif;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
        font-size: 1.05rem;
        margin-top: 0%;
        margin-bottom: 0%;

        &:hover {
            transition: 0.5s;
            color: blue;
        }
    }

    iframe {
        display: flex;
        width: 100%;
        height: 500px;

    }
}

footer {
    background-color: rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
    display: flex;
    color: #FFFFFF;
    opacity: 90%;


    .contenedorFooter {

        background-color: rgba(0, 0, 0, 0.05);
        font-family: 'Tomorrow', sans-serif;
        font-size: 1.25rem;
        width: 100%;

        img {
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
            border-radius: 1rem;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
        }

        span {
            color: #FFFFFF;
            margin: 0.1rem;
        }

        ul {

            text-align: justify;
            list-style: none;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, 0.25);
            text-decoration: none;
            margin: 0.5%;
            padding: 0%;

            li {
                text-align: left;
                text-decoration: none;
                margin: 0.5%;
                padding: 0%;

            }

        }

        a p {

            background-color: rgba(0, 0, 0, 0.25);
            font-size: 1rem;
            padding: 0.5%;
            margin-left: 0.5rem;

            img {
                margin-left: 5%;
            }


        }



        .footerCopyright {
            margin: auto;
            padding: auto;
            background-color: rgba(0, 0, 0, 0.25);
            text-align: center;
            font-size: 1rem;



        }

    }


}


/*TAMAÑO TABLET------------------------------------------- */


@media screen and (min-width:768px) {
    body {
        background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
        background-image: url(../img/fondoAccesorioss.jpg);
        background-attachment: fixed;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:

            "header header header"
            "section section section"
            "nav nav nav"
            "aside aside aside"
            "main main main"
            "article article article"
            "footer footer footer"

    }



    header {
        grid-area: header;

    }

    nav {
        grid-area: nav;
        font-family: 'Tomorrow', sans-serif;


    }


    aside {
        grid-area: aside;

        .contenedor {
            background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
            background-attachment: local;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 20rem;

            opacity: 95%;
            font-family: 'Tomorrow', sans-serif;

            h1 {
                text-align: center;
                margin-top: 3.5rem;
            }

        }
    }

    main {
        grid-area: main;




    }

    article {

        grid-area: article;



    }


    footer {
        grid-area: footer;

    }


}

/*/tamaño grande-----------------------------------------------------*/

@media screen and (min-width:1280px) {
    body {

        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "header header header header"
            "section section section section"
            "nav nav nav nav"
            "aside aside aside aside"
            "main main main main"
            "article article article article"
            "footer footer footer footer"
    }

    header {
        grid-area: header;


    }

    section {
        grid-area: section;

    }

    nav {
        grid-area: nav;
        font-family: 'Tomorrow', sans-serif;



    }

    aside {
        grid-area: aside;

        .contenedor {
            background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
            background-attachment: local;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 25rem;

            opacity: 95%;
            font-family: 'Tomorrow', sans-serif;

            h1 {
                text-align: center;
                margin-top: 4.5rem;
            }

        }


    }



    main {
        grid-area: main;


    }

    article {
        grid-area: article;


    }


    footer {
        grid-area: footer;


    }


}