@import "header";
@import "section";
@import "nav";
@import "aside";
@import "main";
@import "article";
@import "banner";
@import "footer";
@import "variables";




/*MAPSSSSSSSSSSSSSSSSSSS*/

@each $red,
$color in $redes {
    .btn--#{$red} {
        background-color: $color;
        width: 100%;
        margin-bottom: 1rem;

    }
}

.boton {
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
}

/*Extend*/

.test--extend {
    @extend .boton;
    background-color: green;
    color: yellow;
    margin-bottom: 1rem;
}

/*Mixind*/

@mixin customStyles($width, $bg) {
    background-color: $bg;
    width: $width;
}

.test-mixing {
    @include customStyles(100%, blue);
}


/*TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR */
body {
    display: grid;
    grid-template-columns: 1fr;
    background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
    background-image: url(../img/imagenBody.png);
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
    }
}

/*Logos de pagina*/

header {

    padding: 1rem;
    border: 1rem;
    background-color: #74ebd5c9;
    background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);


    img {
        width: 10rem;
        height: 5rem;

    }
}

nav {
    opacity: 85%;
    display: flex;
    padding: 0.5rem;


}

aside {

    opacity: 90%;
    padding: 0.5rem;
  

    /*Estilos Página de Contacto*/

    .sectionForm {
        margin: 15rem;
        padding: 15rem;
    }




    .contenedor {
        background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 15rem;


        font-family: 'Tomorrow', sans-serif;

    }

    .textosAside {

        padding: 1rem;
        height: 0.5rem;
        align-items: center;
        justify-content: center;
        width: 100%;


        .textoPadel {

            font-size: 1rem;
            color: white;
            text-align: center;
            text-decoration: bold;
        }

        .textoPadel2 {
            font-size: 1.5rem;
            text-align: center;
            color: white;

            a {
                display: inline-flex;

            }


        }

        .textoPadel3 {
            font-size: 1.25rem;
            text-align: center;
            color: white;
            text-decoration: underline;
        }


    }
}

main {



    font-family: 'Tomorrow', sans-serif;
    opacity: 90%;
    padding: 0.5rem;


    /* zoooooooooooooommm y tamaños
     a las imagens de accesorios*/

    .image-box {

        overflow: visible;

        img {
            max-width: 100%;
            transition: all 0.4s;
            display: flex;
            flex-direction: row;
            width: 50%;
            height: auto;
            transform: scale(1);

            &:hover {
                transform: scale(1.2);

            }
        }

        .nombreAccesorio {
            margin: 1.5rem;

        }

    }

    /* estilos tabla paletas y paletas individuales*/


    .contenedorPaletas {
        opacity: 95%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        td {
            text-align: center;
            justify-content: center;
            width: 50%;
            height: fit-content;
            font-style: bold;

        }

        img {

            width: 10rem;
            height: 10rem;
            align-items: center;
            opacity: 100%;

        }

        .nombrePaleta {
            text-align: center;
            font-size: larger;

        }

        .precio {
            text-align: center;
            padding: 0.5rem;
            font-size: 1.1rem;
            border-bottom: red;
        }

        .cuotasSinteres {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.148);

        }

        .nombreAccesorio {
            text-transform: uppercase;
            text-align: center;

        }

    }

    section {

        opacity: 90%;
        display: block;
        margin-top: 0%;
        margin-bottom: 0%;


        .table {
            text-align: center;
            margin-bottom: 0%;
            padding-bottom: 0%;


        }

        p {
            color: white;
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 0%;
            padding-bottom: 0%;
            background-color: rgba(0, 0, 0, 0.741);


        }

    }



}

article {

    opacity: 90%;
    padding: 0.5rem;


    p {
        text-align: center;
        color: rgb(7, 7, 102);
        display: block;
        font-family: 'Tomorrow', sans-serif;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
        font-size: 1.05rem;
        margin-top: 0%;
        margin-bottom: 0%;

        &:hover {
            transition: 0.5s;
            color: blue;
        }
    }

    iframe {
        display: block;
        width: 100%;
        height: 10rem;
        background-color: #74ebd5c9;
        background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);

    }
}

footer {
  
    display: flex;
    color: #FFFFFF;
    opacity: 95%;
    padding: 0.5rem;


    .contenedorFooter {

        background-color: rgba(0, 0, 0, 0.50);
        
        font-size: 1.25rem;
        width: 100%;
        padding: 0.5rem;

        img {
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
            border-radius: 1rem;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
        }

        span {
            color: #FFFFFF;
            margin: 0.1rem;
        }

        ul {

            text-align: justify;
            list-style: none;
            font-size: 1rem;
            background-color: rgba(0, 0, 0, 0.25);
            text-decoration: none;
            margin: 0.5%;
            padding: 0%;

            li {
                text-align: left;
                text-decoration: none;
                

            }

        }

        a {


            font-size: 1rem;
            padding: 0%;
            margin-left: 0.5rem;


            img {
                margin-left: 0%;
            }
        }

        p {
            text-align: center;
            color: rgb(7, 7, 102);
            display: block;
          
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
            font-size: 1rem;
           

            &:hover {
                transition: 0.5s;
                color: blue;
            }
        }

    }


}


/*TAMAÑO TABLET------------------------------------------- */


@media screen and (min-width:768px) {
    body {

        /*
        background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
        background-image: url(../img/fondoAccesorioss.jpg);
        background-attachment: fixed;
        background-attachment: fixed;
        background-position: center;
        background-size: cover; */



        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:


            "header header header"
            "section section section"
            "nav nav nav"
            "aside aside aside"
            "main main main"
            "article article article"
            "footer footer footer"


    }



    header {
        grid-area: header;

        img {
            width: 15rem;
            height: 10rem;

        }
    }

    nav {
        grid-area: nav;



    }


    aside {
        grid-area: aside;

        .contenedor {


            height: 18rem;
            opacity: 95%;


            h1 {
                text-align: center;
                margin-top: 2.5rem;
                font-style: bold;

            }

        }
    }

    main {
        grid-area: main;
       



        .slide {

            width: 50%;
            margin: auto;


        }




    }

    article {

        grid-area: article;

        iframe {
            width: 45rem;
            height: 20rem;
            margin: 0 auto;
            padding: 0.5rem;
        }

        p {
            padding: 0.5rem;
        }


    }


    footer {
        grid-area: footer;



    }


}

/*/tamaño grande-----------------------------------------------------*/

@media screen and (min-width:1280px) {
    body {

        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "header header header header"
            "section section section section"
            "nav nav nav nav"
            "aside aside aside aside"
            "main main main main"
            "article article article article"
            "footer footer footer footer"
    }

    header {
        grid-area: header;

        img {
            width: 17rem;
            height: 11rem;

        }


    }

    section {
        grid-area: section;

    }

    nav {
        grid-area: nav;
        font-family: 'Tomorrow', sans-serif;



    }

    aside {
        grid-area: aside;

        .contenedor {


            height: 20rem;



            h1 {
                text-align: center;
                margin-top: 2.5rem;
            }

        }


    }



    main {
        grid-area: main;

     

        /*Carrousel tamaño*/
        .slide {

            width: 50%;
            margin: auto;


        }


        .contenedorPaletas {

            img {

                width: 30rem;
                height: 20rem;
                display: flex;
                flex-wrap: wrap;

            }

            .image-box {

                overflow: visible;

                img {

                    width: 20rem;
                    height: 15rem;
                    display: flex;
                    justify-content: space-evenly;

                    &:hover {
                        transform: scale(1.1);

                    }



                }
            }

        }

    }

    article {
        grid-area: article;

        iframe {

            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        p {
            padding: 0.5rem;
        }


    }


    footer {
        grid-area: footer;

    }


}