/*TAMAÑO CELULAR*/


body {
    display: grid;
    grid-template-columns: 1fr;
}


a:link,
a:visited,
a:active {
    text-decoration: none;
}

/*Logos de pagina*/

.caja1 {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 10px;
    background: rgb(44, 33, 96);
    background: linear-gradient(90deg, rgba(44, 33, 96, 1) 0%, rgba(249, 246, 246, 0.9448821765034139) 90%);
    border-radius: 10px;

}

.logoPagina {
    width: 10rem;
    height: 5rem;
    padding: 5px;
}

.logoPagina1 {
    width: 7rem;
    height: 5rem;

}



/* Estilo create acount*/

.section h2 {
    text-align: right;
    font-family: 'Tomorrow', sans-serif;
    font-size: 15px;
    color: rgb(7, 7, 102);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
    padding: 5px;
    border: inset;
    border-radius: 10px;
}



/* Estilos Navegador*/

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-family: 'Tomorrow', sans-serif;
    cursor: pointer;
    font-size: 15px;
    background-color: aliceblue;
    font-family: 'Tomorrow', sans-serif;
    border: inset;
    border-radius: 10px;
    border-color: #FFFFFF;

}

li {
    list-style-type: none;
    color: #FFFFFF;
    padding: 10px;
}

ul ul {
    position: relative;
    display: none;
    display: absolute;
}

ul ul li {
    display: flex;
    width: 50px;
    padding: 5px;
}

ul ul li a {
    color: white;
}

ul li:hover ul {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(12, 88, 138, 0.427);
    border-radius: 10px;
}

/*ESTILO TITULOS*/

.estilosTitulos {
    text-align: center;
    color: rgb(7, 7, 102);
    margin: 10px;
    display: block;
    font-family: 'Tomorrow', sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
    border: inset;
    border-radius: 10px;

}

.padelRock {
    text-align: center;
    color: rgb(7, 7, 102);
    margin: 10px;
    display: block;
    font-family: 'Tomorrow', sans-serif;
    background-color: rgb(255, 255, 255);
}


.loGos {
    text-align: center;
    margin: 20px;
    display: block;
}

.logos_logos {
    text-align: center;
}

/*Paletas posición sobre html palas*/

.mainCLASEAccesorios {
    height: 300px;
    width: 305px;
    text-align: center;
    margin-right: 1px;
    margin-left: 1px;
    font-family: 'Tomorrow', sans-serif;
}

/*filtros de paletas*/

.fiLTRos {
    font-family: 'Tomorrow', sans-serif;
    text-align: left;
    text-decoration: underline;

}

.paDELNox {
    background-color: #FFFFFF;
    background-position: 100px;
    text-align: center;
}

.padeLNox {
    height: 250px;
    width: 300px;
    text-align: center;
}

/*tabla posición sobre html pala*/

.tabla1 {
    border-collapse: separate;
    font-family: 'Tomorrow', sans-serif;
    margin: auto;
}

.b {
    border-collapse: collapse;
}

tr,
td,
th {
    border: 1px solid rgb(5, 5, 5);
}

.pesoPALeta {
    font-family: 'Tomorrow', sans-serif;
    margin: 0, 5rem;
    font-weight: bold;
}

/*estilos IFRAME*/

.iframeclass {
    border-radius: 50px;
    border-color: rgb(5, 5, 172);
    width: 424 px;
    height: 238 px;
    margin-left: auto;
    margin-right: auto;

}

/*TAMAÑO TABLET */


@media screen and (min-width:768px) {
    body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:

            "header header header"
            "section section section"
            "nav nav nav"
            "main main main"
            "article article article"
            "footer footer footer"

    }

    header {
        grid-area: header;

    }

    .estilosTitulos {
        text-align: center;
        color: rgb(7, 7, 102);
        margin: 10px;
        display: block;
        font-family: 'Tomorrow', sans-serif;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
        border: inset;
        border-radius: 10px;
        font-size: 25px;
    }

    .section h2 {
        text-align: right;
        font-family: 'Tomorrow', sans-serif;
        font-size: 25px;
        color: rgb(7, 7, 102);
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
        padding: 5px;
        border: inset;
        border-radius: 10px;
    }

    .iframeclass {
        border-radius: 50px;
        border-color: rgb(5, 5, 172);
        width: 1000 px;
        height: 500 px;
        margin-left: auto;
        margin-right: auto;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        font-family: 'Tomorrow', sans-serif;
        cursor: pointer;
        font-size: 25px;
        background-color: aliceblue;
        font-family: 'Tomorrow', sans-serif;
        border: inset;
        border-radius: 10px;
        border-color: #FFFFFF;
    }

    li {
        list-style-type: none;
        color: #FFFFFF;
        padding: 10px;
    }

    ul ul {
        position: relative;
        display: none;
        display: absolute;
    }

    ul ul li {
        display: flex;
        width: 150px;
        padding: 5px;
    }

    ul ul li a {
        color: white;
    }

    ul li:hover ul {
        display: flex;
        flex-direction: column;
        background-color: rgba(12, 88, 138, 0.427);
        border-radius: 20px;
    }

    .logoPagina {
        height: 5rem;
        width: 20rem;
    }

    .section {
        grid-area: section;
    }

    nav {
        grid-area: nav;

    }

    main {
        grid-area: main;
    }

    article {
        grid-area: article;
    }

    footer {
        grid-area: footer;
    }

}

@media screen and (min-width:1200px) {
    body {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "header header header header"
            "section section section section"
            "nav nav nav nav"
            "main main main main"
            "article article article article"
            "footer footer footer footer"
    }

    header {
        grid-area: header;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        font-family: 'Tomorrow', sans-serif;
        cursor: pointer;
        font-size: 35px;
        background-color: aliceblue;
        font-family: 'Tomorrow', sans-serif;
        border: inset;
        border-radius: 10px;
        border-color: #FFFFFF;

    }

    li {
        list-style-type: none;
        color: #FFFFFF;
        padding: 10px;
    }

    ul ul {
        position: relative;
        display: none;
        display: absolute;
    }

    ul ul li {
        display: block;
        width: 200px;
        padding: 5px;
    }

    ul ul li a {
        color: white;
    }

    ul li:hover ul {
        display: flex;
        flex-direction: column;
        background-color: rgba(12, 88, 138, 0.427);
        border-radius: 10px;
    }

    .section h2 {
        text-align: right;
        font-family: 'Tomorrow', sans-serif;
        font-size: 35px;
        color: rgb(7, 7, 102);
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
        padding: 5px;
        border: inset;
        border-radius: 10px;
    }

    .estilosTitulos {
        text-align: center;
        color: rgb(7, 7, 102);
        margin: 10px;
        display: block;
        font-family: 'Tomorrow', sans-serif;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 0.9448821765034139) 30%);
        border: inset;
        border-radius: 10px;
        font-size: 35px;
    }

    .logoPagina {
        height: 5rem;
        width: 30rem;
    }

    .logoPagina1 {
        height: 5rem;
        width: 7rem;
    }

    .iframeclass {
        border-radius: 50px;
        border-color: rgb(5, 5, 172);
        width: 1500 px;
        height: 1000 px;
        margin-left: 100px;
        margin-right: 100px;
    }
}