

a:link, a:visited, a:active {
    text-decoration:none;
}

.padelRock {
    text-align: center;
    color: rgb(7, 7, 102);
    margin:10px;
    display:block;
    font-family: 'Tomorrow', sans-serif;
    background-color: aliceblue;
    
}

.padelRockk{
    text-align: right;
    border-radius: 10px;
    font-family: 'Tomorrow', sans-serif;   
    
}
.loGos{
    text-align: center;
    margin:20px;
    display:block;
}
.logos_logos{
    text-align: center;
}

/* Paletas posición sobre html palas

.mainCLASEAccesorios{
    height: 300px;
    width: 305px;
    text-align: center;
    margin-right: 1px;
    margin-left: 1px;
    font-family: 'Tomorrow', sans-serif;
}

/*filtros de paletas 
.fiLTRos{
    font-family: 'Tomorrow', sans-serif;
    text-align: left;
    text-decoration: underline;
   
}
.paDELNox {
    background-color: #FFFFFF;
    background-position: 100px;
    text-align: center;
}
.padeLNox {
    height: 250px;
    width: 300px;
    text-align: center;
    
} 


/* tabla posición sobre html palas

.tabla1{border-collapse: separate; 
font-family: 'Tomorrow', sans-serif; margin: auto; }
.b {border-collapse: collapse; } 
tr, td, th{ border: 1px solid rgb(5, 5, 5);}
  
      
/*Accesorios e indumentaria estilos del html
se usan los mismos que las palas
nox


nav ul {
    list-style: none;
    font-size:0; 
    background-color: rgb(12, 87, 138);
    font-family: 'Tomorrow', sans-serif;
    color: gainsboro;
    border: inset;
    cursor: pointer;
    border-radius: 50px;
    border-color: #FFFFFF;
     }
 li {
    display: inline-block;
    width: 20%;
    font-size: 2rem;
    font-family: 'Tomorrow', sans-serif;
    position: initial;
    color: gainsboro;
    border-color: #FFFFFF;
     }
 ul ul {
    position: relative;
    display: none;
    display: absolute;
 }
 ul ul li {
    display: absolute;
    width:200px;
    padding: 10px;
 }
 ul ul li a {color: white;}
 ul li:hover ul {
     position: absolute;
    display:block;
    background-color: rgb(12, 87, 138);
    border-radius: 50px;
 }


/*VER LO DE FLEX





 
 .pesoPALeta {
    font-family: 'Tomorrow', sans-serif;
    margin: 0,5rem;
    font-weight: bold;
 }

 */

 /*estilos IFRAME

 .iframeclass{
    border-radius: 50px;
    border-color: rgb(5, 5, 172);
    
    width: 424 px; height:238 px;
    margin-left: auto;
    margin-right: auto;  
     
 }

*/
