@charset "UTF-8";
/*TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR */
body {
  display: grid;
  grid-template-columns: 1fr;
  background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 80%);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  body a:link,
  body a:visited,
  body a:active {
    text-decoration: none; }

.bodyIndex {
  background-image: url(../img/imagenIndex.png); }

.bodyPalas {
  background-image: url(../img/fondoAccesorioss.jpg); }

.bodyAccesorios {
  background-image: url(../img/fondoAccesorios.jpg); }

.bodyIndumentaria {
  background-image: url(../img/fondoAcesorios.jpeg); }

.bodyPalasindiv {
  background-image: url(../img/paletasIndividuales.jpg); }

.bodyRegisttrate {
  background-image: url(../img/padelRegistrate.png); }

.buttom {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px; }

.masOmenos {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px; }

/*Logos de pagina*/
header {
  background-color: #74ebd5c9;
  background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
  padding: 1rem;
  border: 1rem; }
  header img {
    width: 10rem;
    height: 5rem; }
  header .fondoHeader {
    margin: 0.5rem; }

.navbar {
  opacity: 95%; }

aside {
  opacity: 90%;
  /*Estilos Página de Contacto*/
  /* Estilos fondo de index*/ }
  aside .sectionForm {
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Tomorrow', sans-serif;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #FFFFFF; }
    aside .sectionForm .sectionEdad {
      margin-top: 2rem;
      font-family: 'Tomorrow', sans-serif; }
    aside .sectionForm .sectionFoto {
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      font-family: 'Tomorrow', sans-serif;
      color: #FFFFFF; }
    aside .sectionForm .sectionPreguntas {
      text-align: left;
      font-family: 'Tomorrow', sans-serif;
      margin-left: 0.5rem; }
    aside .sectionForm a {
      margin: 0%;
      padding: 0%;
      text-align: center; }
  aside .contenedor {
    background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 15rem;
    font-family: 'Tomorrow', sans-serif; }
  aside .textosAside {
    padding: 1rem;
    height: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%; }
    aside .textosAside .textoPadel {
      font-size: 1rem;
      color: white;
      text-align: center;
      text-decoration: bold; }
    aside .textosAside .textoPadel2 {
      font-size: 1.5rem;
      text-align: center;
      color: white; }
      aside .textosAside .textoPadel2 a {
        display: inline-flex; }
    aside .textosAside .textoPadel3 {
      font-size: 1.25rem;
      text-align: center;
      color: white;
      text-decoration: underline; }

main {
  font-family: 'Tomorrow', sans-serif;
  opacity: 95%;
  padding: 0.15rem;
  margin: 0.15rem;
  /* zoooooooooooooommm y tamaños
     a las imagens de accesorios*/
  /* estilos tabla paletas y paletas individuales*/
  /*Seccion paletas individuales*/ }
  main .image-box {
    overflow: visible; }
    main .image-box img {
      max-width: 100%;
      transition: all 0.4s;
      display: flex;
      flex-direction: row;
      width: 50%;
      height: auto;
      transform: scale(1); }
      main .image-box img:hover {
        transform: scale(1.1); }
    main .image-box .nombreAccesorio {
      margin: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 1rem; }
  main .contenedorPaletas {
    opacity: 95%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.2rem;
    margin: 0.2rem; }
    main .contenedorPaletas .product {
      border: solid 2px black; }
    main .contenedorPaletas .masOmenos {
      display: flex;
      justify-content: center;
      padding: 0.15rem; }
    main .contenedorPaletas td {
      text-align: center;
      justify-content: center;
      width: 100%;
      height: fit-content;
      font-style: bold; }
    main .contenedorPaletas img {
      width: 10rem;
      height: 10rem;
      align-items: center; }
    main .contenedorPaletas .nombrePaleta {
      text-align: center;
      font-family: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    main .contenedorPaletas .precio {
      text-align: center;
      padding: 0.5rem;
      font-size: 1.1rem;
      border-bottom: red;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    main .contenedorPaletas .cuotasSinteres {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.148);
      border: black;
      padding: 0.15rem; }
    main .contenedorPaletas .nombreAccesorio {
      text-transform: uppercase;
      text-align: center; }
  main section {
    opacity: 90%;
    display: block;
    text-align: center;
    padding: 0.15rem;
    margin: 0.15rem; }
    main section p {
      color: white;
      font-size: 1.25rem;
      text-align: center;
      margin-bottom: 0%;
      padding-bottom: 0%;
      background-color: rgba(0, 0, 0, 0.741); }

article {
  font-family: 'Tomorrow', sans-serif;
  opacity: 95%;
  padding: 0.25rem;
  margin: 0.25rem; }
  article p {
    text-align: center;
    color: #070766;
    background: linear-gradient(90deg, white 0%, rgba(224, 224, 224, 0.944882) 80%);
    font-size: 1rem; }
    article p:hover {
      transition: 0.5s;
      color: blue; }
  article iframe {
    display: block;
    width: 100%;
    height: 15rem;
    margin: auto; }

footer {
  display: flex;
  color: #FFFFFF;
  opacity: 95%;
  padding: 0.25rem;
  margin: 0.25rem; }
  footer .contenedorFooter {
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.25rem;
    width: 100%;
    padding: 0.5rem; }
    footer .contenedorFooter img {
      background: white;
      background: linear-gradient(90deg, white 0%, rgba(224, 224, 224, 0.944882) 30%);
      border-radius: 1rem;
      margin-left: 0.5rem;
      margin-top: 0.5rem; }
    footer .contenedorFooter span {
      color: #FFFFFF;
      margin: 0.1rem; }
    footer .contenedorFooter ul {
      text-align: justify;
      list-style: none;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, 0.25);
      text-decoration: none;
      margin: 0.5%;
      padding: 0%; }
      footer .contenedorFooter ul li {
        text-align: left;
        text-decoration: none; }
    footer .contenedorFooter a {
      font-size: 1rem;
      padding: 0%;
      margin-left: 0.5rem; }
      footer .contenedorFooter a img {
        margin-left: 0%; }
    footer .contenedorFooter p {
      text-align: center;
      color: white;
      display: block;
      background: rgba(0, 0, 0, 0.15);
      font-size: 1rem; }
      footer .contenedorFooter p:hover {
        transition: 0.5s;
        color: blue; }

/*TAMAÑO TABLET------------------------------------------- */
@media screen and (min-width: 768px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "section section section" "nav nav nav" "aside aside aside" "main main main" "article article article" "footer footer footer"; }
  header {
    grid-area: header; }
    header img {
      width: 15rem;
      height: 10rem; }
  nav {
    grid-area: nav; }
  aside {
    grid-area: aside; }
    aside .contenedor {
      height: 18rem;
      opacity: 95%; }
      aside .contenedor h1 {
        text-align: center;
        margin-top: 2.3rem;
        font-style: bold; }
  main {
    grid-area: main; }
    main .slide {
      width: 70%;
      margin: auto; }
    main section {
      margin: 1.5rem;
      padding: 1.5rem;
      text-align: center; }
  article {
    grid-area: article; }
    article iframe {
      height: 23rem; }
    article p {
      font-size: 1.2rem;
      padding: 0.5rem; }
  footer {
    grid-area: footer; } }

/*/tamaño grande-----------------------------------------------------*/
@media screen and (min-width: 1280px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "section section section section" "nav nav nav nav" "aside aside aside aside" "main main main main" "article article article article" "footer footer footer footer"; }
  header {
    grid-area: header;
    /*  img {
                width: 17rem;
                height: 11rem;
            } */ }
  section {
    grid-area: section; }
  nav {
    grid-area: nav;
    font-family: 'Tomorrow', sans-serif; }
  aside {
    grid-area: aside; }
    aside .contenedor {
      height: 20rem; }
      aside .contenedor h1 {
        text-align: center;
        margin-top: 2.5rem; }
  main {
    grid-area: main;
    /*Carrousel tamaño*/ }
    main .slide {
      width: 45%;
      margin: auto; }
    main .contenedorPaletas img {
      width: 30rem;
      height: 20rem;
      display: flex;
      flex-wrap: wrap; }
    main .contenedorPaletas .image-box {
      overflow: visible; }
      main .contenedorPaletas .image-box img {
        width: 20rem;
        height: 15rem;
        display: flex;
        justify-content: space-evenly; }
        main .contenedorPaletas .image-box img:hover {
          transform: scale(1.1); }
  article {
    grid-area: article; }
    article iframe {
      height: 39rem;
      padding: 0%; }
    article p {
      padding: 0.5rem;
      margin-top: 2rem;
      font-size: 1.4rem; }
  footer {
    grid-area: footer; } }
