@charset "UTF-8";
/*MAPSSSSSSSSSSSSSSSSSSS*/
.btn--twitter {
  background-color: #55acee;
  width: 100%;
  margin-bottom: 1rem; }

.btn--facebook {
  background-color: #3a5795;
  width: 100%;
  margin-bottom: 1rem; }

.btn--send-mail {
  background-color: #C25E30;
  width: 100%;
  margin-bottom: 1rem; }

.btn--wtsp {
  background-color: red;
  width: 100%;
  margin-bottom: 1rem; }

.boton, .test--extend {
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

/*Extend*/
.test--extend {
  background-color: green;
  color: yellow;
  margin-bottom: 1rem; }

/*Mixind*/
.test-mixing {
  background-color: blue;
  width: 100%; }

/*TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR TAMAÑO CELULAR */
body {
  display: grid;
  grid-template-columns: 1fr;
  background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
  background-image: url(../img/imagenBody.png);
  background-attachment: fixed;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  body a:link,
  body a:visited,
  body a:active {
    text-decoration: none; }

.bodyPalas {
  background-image: url(../img/fondoAccesorioss.jpg); }

.bodyAccesorios {
  background-image: url(../img/oooooooooooooooooooooooooooooooooooooooooo.avif); }

.bodyIndumentaria {
  background-image: url(../img/fondoAcesorios.jpeg); }

.bodyPalasindiv {
  background-image: url(../img/paletasIndividuales.jpg); }

/*Logos de pagina*/
header {
  background-color: #74ebd5c9;
  background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
  padding: 1rem;
  border: 1rem; }
  header img {
    width: 10rem;
    height: 5rem; }
  header .fondoHeader {
    margin: 0.5rem; }

.navbar {
  opacity: 90%;
  display: flex;
  margin: 0.5rem; }

aside {
  opacity: 90%;
  padding: 0.5rem;
  /*Estilos Página de Contacto*/ }
  aside .sectionForm {
    margin: 15rem;
    padding: 15rem; }
  aside .contenedor {
    background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 15rem;
    font-family: 'Tomorrow', sans-serif; }
  aside .textosAside {
    padding: 1rem;
    height: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%; }
    aside .textosAside .textoPadel {
      font-size: 1rem;
      color: white;
      text-align: center;
      text-decoration: bold; }
    aside .textosAside .textoPadel2 {
      font-size: 1.5rem;
      text-align: center;
      color: white; }
      aside .textosAside .textoPadel2 a {
        display: inline-flex; }
    aside .textosAside .textoPadel3 {
      font-size: 1.25rem;
      text-align: center;
      color: white;
      text-decoration: underline; }

main {
  opacity: 90%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  /* zoooooooooooooommm y tamaños
     a las imagens de accesorios*/
  /* estilos tabla paletas y paletas individuales*/ }
  main .image-box {
    overflow: visible; }
    main .image-box img {
      max-width: 100%;
      transition: all 0.4s;
      display: flex;
      flex-direction: row;
      width: 50%;
      height: auto;
      transform: scale(1); }
      main .image-box img:hover {
        transform: scale(1.2); }
    main .image-box .nombreAccesorio {
      margin: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 1rem; }
  main .contenedorPaletas {
    opacity: 95%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.3rem;
    margin: 0.2rem; }
    main .contenedorPaletas td {
      text-align: center;
      justify-content: center;
      width: 50%;
      height: fit-content;
      font-style: bold; }
    main .contenedorPaletas img {
      width: 10rem;
      height: 10rem;
      align-items: center; }
    main .contenedorPaletas .nombrePaleta {
      text-align: center;
      font-size: larger;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    main .contenedorPaletas .precio {
      text-align: center;
      padding: 0.5rem;
      font-size: 1.1rem;
      border-bottom: red;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    main .contenedorPaletas .cuotasSinteres {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.148);
      border: black; }
    main .contenedorPaletas .nombreAccesorio {
      text-transform: uppercase;
      text-align: center; }
  main section {
    opacity: 90%;
    display: block;
    margin-top: 0%;
    margin-bottom: 0%; }
    main section .table {
      text-align: center;
      margin-bottom: 0%;
      padding-bottom: 0%; }
    main section p {
      color: white;
      font-size: 1.25rem;
      text-align: center;
      margin-bottom: 0%;
      padding-bottom: 0%;
      background-color: rgba(0, 0, 0, 0.741); }

article {
  opacity: 90%;
  margin: 0.5rem; }
  article p {
    text-align: center;
    color: #070766;
    background: white;
    background: linear-gradient(90deg, white 0%, rgba(224, 224, 224, 0.944882) 30%);
    font-size: 1.05rem; }
    article p:hover {
      transition: 0.5s;
      color: blue; }
  article iframe {
    display: block;
    width: 100%;
    height: 10rem;
    background-color: #74ebd5c9;
    background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%); }

footer {
  display: flex;
  color: #FFFFFF;
  opacity: 95%;
  padding: 0.5rem; }
  footer .contenedorFooter {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    width: 100%;
    padding: 0.5rem; }
    footer .contenedorFooter img {
      background: white;
      background: linear-gradient(90deg, white 0%, rgba(224, 224, 224, 0.944882) 30%);
      border-radius: 1rem;
      margin-left: 0.5rem;
      margin-top: 0.5rem; }
    footer .contenedorFooter span {
      color: #FFFFFF;
      margin: 0.1rem; }
    footer .contenedorFooter ul {
      text-align: justify;
      list-style: none;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, 0.25);
      text-decoration: none;
      margin: 0.5%;
      padding: 0%; }
      footer .contenedorFooter ul li {
        text-align: left;
        text-decoration: none; }
    footer .contenedorFooter a {
      font-size: 1rem;
      padding: 0%;
      margin-left: 0.5rem; }
      footer .contenedorFooter a img {
        margin-left: 0%; }
    footer .contenedorFooter p {
      text-align: center;
      color: #070766;
      display: block;
      background: white;
      background: linear-gradient(90deg, white 0%, rgba(224, 224, 224, 0.944882) 30%);
      font-size: 1rem; }
      footer .contenedorFooter p:hover {
        transition: 0.5s;
        color: blue; }

/*TAMAÑO TABLET------------------------------------------- */
@media screen and (min-width: 768px) {
  body {
    /*
        background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
        background-image: url(../img/fondoAccesorioss.jpg);
        background-attachment: fixed;
        background-attachment: fixed;
        background-position: center;
        background-size: cover; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "section section section" "nav nav nav" "aside aside aside" "main main main" "article article article" "footer footer footer"; }
  header {
    grid-area: header; }
    header img {
      width: 15rem;
      height: 10rem; }
  nav {
    grid-area: nav; }
  aside {
    grid-area: aside; }
    aside .contenedor {
      height: 18rem;
      opacity: 95%; }
      aside .contenedor h1 {
        text-align: center;
        margin-top: 2.5rem;
        font-style: bold; }
  main {
    grid-area: main; }
    main .slide {
      width: 50%;
      margin: auto; }
  article {
    grid-area: article; }
    article iframe {
      width: 45rem;
      height: 20rem;
      margin: 0 auto;
      padding: 0.5rem; }
    article p {
      padding: 0.5rem; }
  footer {
    grid-area: footer; } }

/*/tamaño grande-----------------------------------------------------*/
@media screen and (min-width: 1280px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "section section section section" "nav nav nav nav" "aside aside aside aside" "main main main main" "article article article article" "footer footer footer footer"; }
  header {
    grid-area: header; }
    header img {
      width: 17rem;
      height: 11rem; }
  section {
    grid-area: section; }
  nav {
    grid-area: nav;
    font-family: 'Tomorrow', sans-serif; }
  aside {
    grid-area: aside; }
    aside .contenedor {
      height: 20rem; }
      aside .contenedor h1 {
        text-align: center;
        margin-top: 2.5rem; }
  main {
    grid-area: main;
    /*Carrousel tamaño*/ }
    main .slide {
      width: 50%;
      margin: auto; }
    main .contenedorPaletas img {
      width: 30rem;
      height: 20rem;
      display: flex;
      flex-wrap: wrap; }
    main .contenedorPaletas .image-box {
      overflow: visible; }
      main .contenedorPaletas .image-box img {
        width: 20rem;
        height: 15rem;
        display: flex;
        justify-content: space-evenly; }
        main .contenedorPaletas .image-box img:hover {
          transform: scale(1.1); }
  article {
    grid-area: article; }
    article iframe {
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
    article p {
      padding: 0.5rem; }
  footer {
    grid-area: footer; } }
