@charset "UTF-8";
/*MAPSSSSSSSSSSSSSSSSSSS*/
.btn--twitter {
  background-color: #55acee;
  width: 100%;
  margin-bottom: 1rem; }

.btn--facebook {
  background-color: #3a5795;
  width: 100%;
  margin-bottom: 1rem; }

.btn--send-mail {
  background-color: #C25E30;
  width: 100%;
  margin-bottom: 1rem; }

.btn--wtsp {
  background-color: red;
  width: 100%;
  margin-bottom: 1rem; }

.boton, .test--extend {
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

/*Extend*/
.test--extend {
  background-color: green;
  color: yellow;
  margin-bottom: 1rem; }

/*Mixind*/
.test-mixing {
  background-color: blue;
  width: 100%; }

/*TAMAÑO CELULAR*/
body {
  display: grid;
  grid-template-columns: 1fr;
  background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
  background-image: url(../img/imagenBody.png);
  background-attachment: fixed;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  body a:link,
  body a:visited,
  body a:active {
    text-decoration: none; }

/*Logos de pagina*/
header {
  padding: 1rem;
  border: 3rem;
  background-color: #74ebd5c9;
  background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%); }
  header img {
    width: 8rem;
    height: 5rem; }

nav {
  opacity: 95%;
  display: flex; }

aside .contenedor {
  background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 15rem;
  opacity: 95%;
  font-family: 'Tomorrow', sans-serif; }

aside .textosAside {
  padding: 1rem;
  height: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%; }
  aside .textosAside .textoPadel {
    font-size: 1rem;
    color: white;
    text-align: center;
    text-decoration: bold; }
  aside .textosAside .textoPadel2 {
    font-size: 1.5rem;
    text-align: center;
    color: white; }
    aside .textosAside .textoPadel2 a {
      display: inline-flex; }
  aside .textosAside .textoPadel3 {
    font-size: 1.25rem;
    text-align: center;
    color: white;
    text-decoration: underline; }

main {
  font-family: 'Tomorrow', sans-serif;
  opacity: 95%; }
  main .containetMain {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }
    main .containetMain img {
      width: 3rem;
      display: flex; }
  main .contenedorPaletas {
    opacity: 95%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .contenedorPaletas td {
      text-align: center;
      justify-content: center;
      width: 50%;
      height: fit-content; }
    main .contenedorPaletas img {
      width: 10rem;
      height: 10rem;
      align-items: center; }
    main .contenedorPaletas .nombrePaleta {
      text-align: center;
      font-size: larger;
      font-style: bold; }
    main .contenedorPaletas .precio {
      text-align: center;
      font-style: bold; }
  main .contenedorPaletasindividuales {
    opacity: 85%;
    background-color: white;
    display: inline-block; }
    main .contenedorPaletasindividuales td {
      text-align: center;
      justify-content: center;
      width: 50%;
      height: fit-content; }
    main .contenedorPaletasindividuales img {
      opacity: 100%;
      width: 100%;
      height: 100%;
      align-items: center; }
    main .contenedorPaletasindividuales .nombrePaleta {
      text-align: center;
      font-size: larger;
      font-style: bold; }
    main .contenedorPaletasindividuales .precio {
      text-align: center;
      font-style: bold; }
  main section {
    display: block;
    margin-top: 0%;
    margin-bottom: 0%; }
    main section table {
      text-align: center;
      margin-bottom: 0%;
      padding-bottom: 0%; }
    main section p {
      color: white;
      font-size: 1.25rem;
      text-align: center;
      margin-bottom: 0%;
      padding-bottom: 0%;
      background-color: rgba(0, 0, 0, 0.741); }

article {
  opacity: 95%; }
  article p {
    text-align: center;
    color: #070766;
    display: block;
    font-family: 'Tomorrow', sans-serif;
    background: white;
    background: linear-gradient(90deg, white 0%, rgba(224, 224, 224, 0.944882) 30%);
    font-size: 1.05rem;
    margin-top: 0%;
    margin-bottom: 0%; }
    article p:hover {
      transition: 0.5s;
      color: blue; }
  article iframe {
    display: flex;
    width: 100%;
    height: 11rem; }

footer {
  background-color: rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(90deg, #74ebd525 0%, #9face631 100%);
  display: flex;
  color: #FFFFFF; }
  footer .contenedorFooter {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Tomorrow', sans-serif;
    font-size: 1.25rem; }
    footer .contenedorFooter img {
      background: white;
      background: linear-gradient(90deg, white 0%, rgba(224, 224, 224, 0.944882) 30%);
      border-radius: 1rem;
      margin-left: 0.5rem;
      margin-top: 0.5rem; }
    footer .contenedorFooter span {
      color: #FFFFFF;
      margin: 0.1rem; }
    footer .contenedorFooter ul {
      text-align: justify;
      list-style: none;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, 0.25);
      text-decoration: none;
      margin: 0.5%;
      padding: 0%; }
      footer .contenedorFooter ul li {
        text-align: left;
        text-decoration: none;
        margin: 0.5%;
        padding: 0%; }
    footer .contenedorFooter a p {
      background-color: rgba(0, 0, 0, 0.25);
      font-size: 1rem;
      padding: 0.5%;
      margin-left: 0.5rem; }
      footer .contenedorFooter a p img {
        margin-left: 5%; }
    footer .contenedorFooter .footerCopyright {
      margin: auto;
      padding: auto;
      background-color: rgba(0, 0, 0, 0.25);
      text-align: center;
      font-size: 1rem; }

/*TAMAÑO TABLET------------------------------------------- */
@media screen and (min-width: 768px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "section section section" "nav nav nav" "aside aside aside" "main main main" "article article article" "footer footer footer"; }
  header {
    grid-area: header; }
  nav {
    grid-area: nav; }
  aside {
    grid-area: aside; }
    aside .contenedor {
      background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
      background-attachment: local;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      height: 20rem;
      opacity: 95%;
      font-family: 'Tomorrow', sans-serif; }
  main {
    grid-area: main; }
  article {
    grid-area: article; }
  footer {
    grid-area: footer; } }

/*/tamaño grande-----------------------------------------------------*/
@media screen and (min-width: 1280px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "section section section section" "nav nav nav nav" "aside aside aside aside" "main main main main" "article article article article" "footer footer footer footer"; }
  header {
    grid-area: header; }
  section {
    grid-area: section; }
  nav {
    grid-area: nav; }
  aside {
    grid-area: aside; }
    aside .contenedor {
      background-image: url(../img/fondoPadellllllllllllllllllllllllllllllllll.jpg);
      background-attachment: local;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 80em;
      height: 25rem;
      opacity: 95%;
      font-family: 'Tomorrow', sans-serif; }
  main {
    grid-area: main; }
  article {
    grid-area: article; }
  footer {
    grid-area: footer; } }
